.field{
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  flex=direction: row;
}
.field div{
  outline: 1px solid black;
  background-color: gray;
  font-size: 20px;
  width: 38px;
  height: 38px;
  text-align: center;
  padding: 1px;
  color: black;
}
.buttons{
  margin-top: -640px;
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  flex=direction: row;
}
.buttons div{
  text-align: center;
  line-height: 0.5;
}
.field-button{
  background: url(field-button.png);
  width: 40px;
  height: 40px;
}
.opened{
  width: 40px;
  height: 40px;
}
.mine{
  background:url(mine.png);
}
.comment{
  color: red;
  background-color: cyan;
  font-size: 30px;
}
.field-button-flagged{
  background:url(field-button-flagged.png);
  width: 40px;
  height: 40px;
}
